@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Find the smart contract of the ownership of Ottawa Home</p>
    <h2><input type="text" placeholder="Search by Name of Owner"></h2>


</div>
